/* ===== GLOBAL ===== */

.root {
    -fx-font-family: "Segoe UI", "Roboto", sans-serif;
    -fx-background-color: #f3efe0;
    -fx-text-fill: #4a3f35;
}

.label, .text {
    -fx-text-fill: #4a3f35;
}

.list-view {
    -fx-background-color: #f3efe0;
    -fx-control-inner-background: #f3efe0;
}

/* ===== TOOLBAR ===== */
.tool-bar {
    -fx-background-color: #e6dfcf;
    -fx-padding: 10;
    -fx-border-color: #cbbfa7;
    -fx-border-width: 0 0 1 0;
}

.tool-bar .button {
    -fx-background-color: #cbbfa7;
    -fx-text-fill: #4a3f35;
    -fx-background-radius: 8;
    -fx-padding: 8 18;
    -fx-font-size: 16px;
}

.tool-bar .button:hover {
    -fx-background-color: #b9ad97;
}

.tool-bar .button:pressed {
    -fx-background-color: #a89d88;
}


.button, .buttonPane button {
    -fx-background-color: #cbbfa7;
    -fx-text-fill: #5c4d3e;
    -fx-font-size: 20px;
    -fx-background-radius: 12;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(gaussian, #00000033, 4, 0.3, 0, 2);
}

.button:hover {
    -fx-background-color: #b9ad97;
}

.button:pressed {
    -fx-background-color: #a89d88;
}


#shuffleButton.active {
    -fx-background-color: #8d6e63;
    -fx-text-fill: white;
}


.progress-bar {
    -fx-accent: #8d6e63;
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: #dcd4c4;
    -fx-background-radius: 6;
}

.progress-bar .bar {
    -fx-background-radius: 6;
}


#timeLabel, .time-label {
    -fx-text-fill: #5c4d3e;
    -fx-font-size: 14px;
}

#volumeSlider .track {
    -fx-background-color: #dcd4c4;
    -fx-background-radius: 4;
}

#volumeSlider .thumb {
    -fx-background-color: #8d6e63;
    -fx-background-radius: 50;
}


.list-cell {
    -fx-background-color: #f3efe0;
    -fx-padding: 12;
    -fx-text-fill: #4a3f35;
}

.list-cell:hover {
    -fx-background-color: #e6dfcf;
}

.list-cell:selected {
    -fx-background-color: #cbbfa7;
    -fx-text-fill: #4a3f35;
    -fx-font-weight: bold;
}


.image-view {
    -fx-effect: dropshadow(gaussian, #00000044, 8, 0.4, 0, 2);
}


.text-pane .text {
    -fx-font-size: 15px;
    -fx-fill: #4a3f35;
}


.nav-tab {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: transparent;

    -fx-font-family: "Nunito";
    -fx-font-size: 18px;
    -fx-padding: 8 0 8 0;
}

.nav-tab:hover {
    -fx-background-color: #e8d9c5;
}

.nav-tab:focused {
    -fx-border-color: #5f6f52;      /* earth green */
}

.nav-tab-selected {
    -fx-border-color: #5f6f52;
    -fx-font-weight: bold;
}